*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
.header-choose{
    width: 100%;
}

.header-choose ul{
    width: 50%;
    list-style: none;
    display: flex;
    border: 1px solid orangered;
}
.header-choose li {
    line-height: 50px;
    text-align: center;
    width: 200px;
}

.header-title li:hover{
    background-color: orangered;
}